bourse/TEST_DATA/quotes.dtd

<!ELEMENT dataset (
    ACCOUNT*,
    PORTFOLIO*,
    QUOTES*,
    SELL*,
    BUY*,    
    SHARES*)>

<!ELEMENT ACCOUNT EMPTY>
<!ATTLIST ACCOUNT
    IDACCOUNT CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT PORTFOLIO EMPTY>
<!ATTLIST PORTFOLIO
    IDPORTFOLIO CDATA #REQUIRED
    IDSHARE CDATA #IMPLIED
    IDACCOUNT CDATA #IMPLIED
    QTE CDATA #IMPLIED
    UNITPRICE CDATA #IMPLIED
    USEFORSUMMARY CDATA #REQUIRED
>

<!ELEMENT QUOTES EMPTY>
<!ATTLIST QUOTES
    IDQUOTES CDATA #REQUIRED
    IDSHARE CDATA #IMPLIED
    DATEQUOTE CDATA #REQUIRED
    LASTTRADEDPRICE CDATA #REQUIRED
    OPENPRICE CDATA #IMPLIED
    HIGHPRICE CDATA #IMPLIED
    LOWPRICE CDATA #IMPLIED
    VOLUME CDATA #IMPLIED
>

<!ELEMENT SELL EMPTY>
<!ATTLIST SELL
    IDSELL CDATA #REQUIRED
    IDSHARE CDATA #IMPLIED
    IDACCOUNT CDATA #IMPLIED
    QTE CDATA #REQUIRED
    UNITPRICEREQUESTED CDATA #REQUIRED
    UNITPRICESOLD CDATA #IMPLIED
    STATE CDATA #REQUIRED
    DATEEXPIRATION CDATA #REQUIRED
>
<!ELEMENT BUY EMPTY>
<!ATTLIST BUY
    IDBUY CDATA #REQUIRED
    IDSHARE CDATA #IMPLIED
    IDACCOUNT CDATA #IMPLIED
    QTE CDATA #REQUIRED
    UNITPRICEREQUESTED CDATA #REQUIRED
    UNITPRICEBOUGHT CDATA #IMPLIED
    STATE CDATA #REQUIRED
    DATEEXPIRATION CDATA #REQUIRED
>
<!ELEMENT SHARES EMPTY>
<!ATTLIST SHARES
    IDSHARE CDATA #REQUIRED
    NAME CDATA #REQUIRED
    TICKER CDATA #REQUIRED
>
